/* Home.css */

.home-container {
  background-color: #161616;
  color: white;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;

  position: relative;
  background-image: url('/assets/images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  overflow: hidden;
}

/* Overlay */
.home-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1); /* dark overlay */
  z-index: -1;
}

.home-title {
  font-size: 2.5rem;
  color: #1ab3f0;
}

.book-button {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #36e333;
  border: none;
  color: #222222;
  cursor: pointer;
}

.home-content {
  margin-top: 2rem;
  font-size: 1rem;
}

.home-image {
  border-radius: 1rem;
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}
